* {
  margin: 0;
  padding: 0;
}
.container {
  color: #fff;
  background-color: #797978;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#height,
#weight {
  width: 120px;
  height: 20px;
  margin-top: 15px;
}

#weight-guide {
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
}

#results {
  font-size: 25px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 80px;
  height: 30px;
  font-size: 15px;
  margin-left: 97px;
  margin-top: 25px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
}
button:active {
  background-color: #797978;
}
h1 {
  padding-left: 15px;
}
#result {
  padding-top: 20px;
  color: aquamarine;
}
